name: Create release

on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:

  release-linux-amd64:
    strategy:
      matrix:
          os: [linux, windows]
          arch: [amd64]

    name:  "${{ matrix.os }}-${{ matrix.arch }}: Create and publish release on GitHub"
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout repo
      uses: actions/checkout@v5
    
    - name: Set env variables
      run: |
        echo BUILD_USER=$(id -u --name) >> ${GITHUB_ENV}
        echo BUILD_HOST=$(hostname) >> ${GITHUB_ENV}
        echo BUILD_DATE=$(date -u '+%Y-%m-%dT%H:%M:%S,%N%:z') >> ${GITHUB_ENV}

    - name: Build application
      uses: wangyoucao577/go-release-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.os }}
        goarch: ${{ matrix.arch }}
        md5sum: false
        overwrite: true
        multi_binaries: true
        project_path: ./cmd/ambot ./cmd/scanner
        extra_files: LICENSE README.md
        pre_command: export CGO_ENABLED=0
        build_flags: -v
        ldflags: >
          "-X github.com/prometheus/common/version.Version=${{ github.ref_name }} 
          -X github.com/prometheus/common/version.Branch=${{ github.ref }} 
          -X github.com/prometheus/common/version.Revision=${{ github.sha }} 
          -X github.com/prometheus/common/version.BuildUser=${{env.BUILD_USER}}@${{env.BUILD_HOST}} 
          -X github.com/prometheus/common/version.BuildDate=${{env.BUILD_DATE}}"
